#### Some Important Series Methods

In [3]:
import numpy as np
import pandas as pd

In [5]:
subs = pd.read_csv('datasets-session-16\\subs.csv').squeeze(True)
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [207]:
vk = pd.read_csv('datasets-session-16\\kohli_ipl.csv',index_col = 'match_no').squeeze(True)
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [9]:
movies = pd.read_csv('datasets-session-16\\bollywood.csv',index_col = 'movie').squeeze(True)
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [165]:
# astype() Same like numpy to change the data type of the data
import sys
sys.getsizeof(vk)

3472

In [21]:
sys.getsizeof(vk.astype('int16'))

2182

In [81]:
# between()
vk[vk.between(51,99)].size

43

In [83]:
# clip()
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [89]:
# drop_duplicates()
temp = pd.Series([1,1,2,2,3,3,4,4,5,5])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
8    5
9    5
dtype: int64

In [75]:
temp.drop_duplicates(keep = 'last') # by defualt it's first

1    1
3    2
5    3
7    4
9    5
dtype: int64

In [79]:
movies.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [107]:
# duplicated()
temp.duplicated().sum()  # sum() True is considered 1

5

In [109]:
vk.duplicated().sum()  # 137 duplicated values

137

In [111]:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [133]:
temp.size

10

In [137]:
temp.count()

7

In [141]:
# isnull() return boolean series where nan = True else False
temp.isnull().sum()

3

In [129]:
# dropna() drop all null values or nan values
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [131]:
# fillna() fill values with the value provided as a parameter in the fillna() function
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [153]:
# isin() check multiple values if it's in series or not and return boolean series 
vk[vk.isin([49,99,7])]

match_no
25      7
82     99
86     49
125     7
172     7
215     7
Name: runs, dtype: int64

In [169]:
# apply() we can pass any function as a parameter and it will apply that to our series
movies.apply(lambda x: x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [171]:
subs.apply(lambda x: 'good day' if x > subs.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [231]:
# copy()
new = vk.head().copy()  # now by using copy() it will pass the copy not the reference of the original data

In [233]:
new[1] = 100

In [235]:
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [237]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64